<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".IntentTestActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|colorMode"
            android:theme="@style/FilePickerTheme"
            android:enableOnBackInvokedCallback="true" />
        <activity
            android:name=".CodecInfoActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|colorMode"
            android:theme="@style/FilePickerTheme"
            android:enableOnBackInvokedCallback="true" />
    </application>
</manifest>
